@use "./tokens/colors" as *;
@use "./mixins" as *;

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Nunito, Arial,
    sans-serif;
  background: $neutral-50;
  color: $neutral-900;
}

.header {
  padding: 1rem;
  color: $brand-secondary-500;
}

.hero {
  margin: 2rem;
  @include soft-card(2rem);

  h1 {
    color: $brand-secondary-700;
  }
  p {
    color: $neutral-600;
  }

  .cta {
    @include button($brand-primary-500, $neutral-900);
    margin-top: 1rem;
  }
}
