/* ---------- GLOBAL BRAND (portfolio) ---------- */
$brand-primary-300: #ffe2d6;
$brand-primary-500: #fcbd9d;
$brand-primary-700: #e79972;

$brand-secondary-300: #7a6c61;
$brand-secondary-500: #514033;
$brand-secondary-700: #413429;

$neutral-50: #fcfbf9;
$neutral-100: #f9f6f2;
$neutral-200: #ede9e5;
$neutral-400: #b5afa9;
$neutral-600: #7d7269;
$neutral-800: #3e3229;
$neutral-900: #1e1610;

$success-500: #4caf7d;
$warning-500: #eba96d;
$error-500: #d77b70;
$info-500: #7a9cc6;

$overlay-light: rgba(255, 251, 244, 0.6);
$overlay-dark: rgba(65, 52, 41, 0.6);
$shadow-soft: rgba(0, 0, 0, 0.08);
$shadow-hard: rgba(0, 0, 0, 0.16);

$guess-primary-900: #03010c;
$guess-primary-800: #000819;
$guess-primary-200: #f2f6ff;
$guess-neutral-100: #f8f8f8;
$guess-neutral-200: #e8e8e8;
$guess-neutral-300: #fdfdff;

$guess-tertiary-red-500: #e15757;
$guess-tertiary-red-700: #d93025;
$guess-tertiary-green-500: #34a853;

$rouge-primary-900: #80091d;
$rouge-primary-700: #2e2e2e;

$rouge-secondary-100: #f0f0f0;
$rouge-secondary-50: #ffffff;

$rouge-accent-red: #e11557;
$rouge-accent-magenta: #a020f0;

$rouge-overlay-dark: rgba(26, 26, 26, 0.6);
$rouge-overlay-light: rgba(240, 240, 240, 0.6);
